<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
<h2>Registration</h2>
<div class="registration-form">
<form action="register" method="post">
    {%csrf_token%}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="text" name="first_name" placeholder="Enter your firstname"><br>
    <input type="text" name="last_name" placeholder="Enter your lastname"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="confirm your password"><br>
<!--    <input type="submit">-->
<!--      <input type="text" placeholder="Username" /><br>-->
<!--            <input type="text" placeholder="Firstname" /><br>-->
<!--            <input type="text" placeholder="Lastname" /><br>-->
<!--     <input type="text" placeholder="Email" /><br>-->
<!--     <input type="text" placeholder="Password" /><br>-->
<!--     <input type="text" placeholder="Confirm password" /><br>-->

            <button>Registration</button>
<!--            <p><a href="login">Login</a></p>-->
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
     </div>

</body>
</html>